.header {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    margin: 10;
    padding: 15px;
    background: rgb(34,193,195);
    background: linear-gradient(232deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.form-group label {
    font-size: 30px;
    font-weight: bold;
}